<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mouvements Stock</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Historique des mouvements</h2>

<table>

    <tr>
        <th>ID</th>
        <th>Produit</th>
        <th>Type</th>
        <th>Quantité</th>
        <th>Date</th>
    </tr>

    <tr th:each="m : ${mouvements}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.produit.nom}"></td>
        <td th:text="${m.type}"></td>
        <td th:text="${m.quantite}"></td>
        <td th:text="${m.date}"></td>
    </tr>

</table>

</body>
</html>